.new_rating {background: url(plus-minus.png) no-repeat center center;padding-left:16px;cursor:pointer;}
.new_rating_yes {background: url(yes.png) no-repeat center center;padding-left:16px;}
.new_rating.plus {background-position: 0 -3px;} 
.new_rating.minus {background-position: 0 -41px;margin-left:5px;}
.new_rating.plus:hover {background-position: 0 -22px;} 
.new_rating.minus:hover {background-position: 0 -60px;} 
.rating_nt {color:#c0c0c0;font-weight:bold;font-size:14px;text-align:center;}
.rating_nt.pl {color:green;}
.rating_nt.mn {color:red;}
.ajax_preloader{display:none;margin-top:-50px;margin-left:-150px;top:50%;left:50%;position:fixed;z-index:999;width:300px;height:100px;border:4px solid #A1D973;background:#fff url(ajax_preloader.gif) center center no-repeat;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);-moz-opacity:.8;-khtml-opacity:.8;opacity:.8;}
.ajax_preloader span{margin-top:80px;text-align:center;display:block;color:#6B6B6B;font-size:11px;font-weight:bold;}
div.jGrowl { padding:10px; z-index:9999; color:#fff; font-size:12px; }
div.ie6 { position:absolute; }
div.ie6.top-right { right:auto; bottom:auto; left:expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }
div.ie6.top-left { left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }
div.ie6.bottom-right { left:expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }
div.ie6.bottom-left { left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }
div.ie6.center { left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); width:100%; }
div.jGrowl { position:absolute; }
body > div.jGrowl { position:fixed; }
div.jGrowl.top-left { left:0px; top:0px; }
div.jGrowl.top-right { right:0px; top:0px; }
div.jGrowl.bottom-left { left:0px; bottom:0px; }
div.jGrowl.bottom-right { right:0px; bottom:0px; }
div.jGrowl.center { top:0px; width:50%; left:25%; }
div.center div.jGrowl-notification, div.center div.jGrowl-closer { margin-left:auto; margin-right:auto; }
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {color:#fff; background-color: #000; opacity:.75; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); zoom:1; width:280px; padding:10px; margin-top:5px; margin-bottom:5px; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:1em; text-align:left; display:none; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
div.jGrowl div.jGrowl-notification { min-height:40px; }
div.jGrowl div.jGrowl-notification div.jGrowl-header { font-weight:bold; font-size:.90em; padding-bottom:5px;}
div.jGrowl div.jGrowl-notification div.jGrowl-close { z-index:99; float:right; font-weight:bold; font-size:1em; cursor:pointer; }
div.jGrowl div.jGrowl-closer { padding-top:4px; padding-bottom:4px; cursor:pointer; font-size:.9em; font-weight:bold; text-align:center; }
@media print { div.jGrowl { display:none; } }
div.jGrowl div.smoke {width:280px;height:55px;overflow:hidden;font-size:13px;}
div.jGrowl div.smoke.red { background-color: #FFB2B9; color:#B00023;}
div.jGrowl div.jGrowl-closer,div.jGrowl div.smoke.green { background-color: #C7F6B9; color:#1D7323;}
div.jGrowl div.smoke.blue { background-color: #C7F6FF; color:#1D73BC;}
div.jGrowl div.smoke.green * { color:#1D7323;}
div.jGrowl div.smoke.red * { color:#B00023;}
div.jGrowl div.smoke.blue * { color:#1D73BC;}
.rating_nt.mn,.rating_nt.pl,.rating_nt{cursor:pointer;}
.rating_nt:hover {color:#929292;}
.rating_nt.pl:hover {color:#54C026;}
.rating_nt.mn:hover {color:#FF9082;}
.whoiswho_rating a:link,.whoiswho_rating a:visited{color:#2881D4;}
.whoiswho_rating a:hover,.whoiswho_rating a:focus{color:#3C99F0;}
table.whoiswho_rating{font-size:12px;width:550px;border-top:1px solid #e5eff8;border-right:1px solid #e5eff8;/*margin:20px auto;*/border-collapse:collapse;}
.whoiswho_rating caption{color:#9ba9b4;font-size:12px;margin:10px 0;padding:0;caption-side:top;text-align:center;}
.whoiswho_rating tr.odd td{background:#f7fbff;}
.whoiswho_rating tr.odd .column1{background:#f4f9fe;}
.whoiswho_rating .column1{background:#f9fcfe;}
.whoiswho_rating td{color:#678197;border-bottom:1px solid #e5eff8;border-left:1px solid #e5eff8;padding:5px;text-align:center;}
.whoiswho_rating th{font-weight:normal;color:#678197;text-align:left;border:1px solid #e5eff8;border-left:1px solid #e5eff8;padding:5px;}
.whoiswho_rating thead th{background:#f4f9fe;text-align:center;font-size:14px;color:#66a3d3;}
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(/images/rating/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(/images/rating/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(/images/rating/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(/images/rating/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(/images/rating/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(/images/rating/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(/images/rating/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(/images/rating/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(/images/rating/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(/images/rating/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(/images/rating/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(/images/rating/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(/images/rating/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(/images/rating/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(/images/rating/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:105px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;font-color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(/images/rating/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(/images/rating/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(/images/rating/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(/images/rating/default/loader.gif) center center no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#F0FFD8;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0 0 5px}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details{position:relative}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}
.jqifade{position:absolute;background-color:#aaa;}
div.jqi{font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;position:absolute;background-color:#fff;font-size:11px;text-align:left;border:solid 1px #eee;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:7px;}
div.jqi .jqicontainer{font-weight:bold;}
div.jqi .jqiclose{position:absolute;top:4px;right:-2px;width:18px;cursor:default;color:#bbb;font-weight:bold;}
div.jqi .jqimessage{padding:10px;line-height:20px;color:#444;}
div.jqi .jqibuttons{text-align:right;padding:5px 0 5px 0;border:solid 1px #eee;background-color:#f4f4f4;}
div.jqi button{padding:3px 10px;margin:0 10px;background-color:#2F6073;border:solid 1px #f4f4f4;color:#fff;font-weight:bold;font-size:12px;}
div.jqi button:hover{background-color:#728A8C;}
div.jqi button.jqidefaultbutton{background-color:#BF5E26;}
.jqiwarning .jqi .jqibuttons{background-color:#BF5E26;}