div.fvt_chkadd {float:left;margin-bottom:5px;}
div.fvt_chkall {float:right;margin-bottom:5px;}
div.fvt_chkdel {float:right;margin-top:5px;}
.clear {display:block;clear:both;height:0px;line-height:0px;font-size:0px;}
div.fvt_chkadd .button, div.fvt_chkdel .button, div.fvt_chkall .button {display: inline-block; *display: inline;vertical-align: baseline;margin: 0 2px;outline: none;cursor: pointer;text-align: center;text-decoration: none;padding: .5em 2em .55em;text-shadow: 0 1px 1px rgba(0,0,0,.3);-webkit-border-radius: .5em; -moz-border-radius: .5em;border-radius: .5em;-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);box-shadow: 0 1px 2px rgba(0,0,0,.2);}
div.fvt_chkadd .button:hover, div.fvt_chkdel .button:hover, div.fvt_chkall .button:hover {text-decoration: none;}
div.fvt_chkadd .button:active, div.fvt_chkdel .button:active, div.fvt_chkall .button:active {position: relative;top: 1px;}
div.fvt_chkadd .medium, div.fvt_chkdel .medium, div.fvt_chkall .medium {font-size: 11px;padding: .4em 1.5em .42em;}
div.fvt_chkall .white {color: #606060;	border: solid 1px #b7b7b7;	background: #fff;	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));	background: -moz-linear-gradient(top,  #fff,  #ededed);	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');}
div.fvt_chkall .white:hover {color: #606060;	background: #ededed;	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');}
div.fvt_chkall .white:active {color: #999;	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));	background: -moz-linear-gradient(top,  #ededed,  #fff);	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');}
div.fvt_chkdel .rosy {color: #fae7e9;border: solid 1px #b73948;background: #da5867;background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');}
div.fvt_chkdel .rosy:hover {color: #fae7e9; background: #ba4b58;background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');}
div.fvt_chkdel .rosy:active {color: #dca4ab;background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');}
div.fvt_chkadd .green {color: #e8f0de;border: solid 1px #538312;background: #64991e;background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');}
div.fvt_chkadd .green:hover {color: #e8f0de;background: #538018;background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');}
div.fvt_chkadd .green:active {color: #a9c08c;background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');}
/**/
div.jGrowl { padding:10px; z-index:9999; color:#fff; font-size:12px; }
div.ie6 { position:absolute; }
div.ie6.top-right { right:auto; bottom:auto; left:expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }
div.ie6.top-left { left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }
div.ie6.bottom-right { left:expression( ( 0 - jGrowl.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }
div.ie6.bottom-left { left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 - jGrowl.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); }
div.ie6.center { left:expression( ( 0 + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' ); top:expression( ( 0 + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' ); width:100%; }
div.jGrowl { position:absolute; }
body > div.jGrowl { position:fixed; }
div.jGrowl.top-left { left:0px; top:0px; }
div.jGrowl.top-right { right:0px; top:0px; }
div.jGrowl.bottom-left { left:0px; bottom:0px; }
div.jGrowl.bottom-right { right:0px; bottom:0px; }
div.jGrowl.center { top:0px; width:50%; left:25%; }
div.center div.jGrowl-notification, div.center div.jGrowl-closer { margin-left:auto; margin-right:auto; }
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {color:#fff; background-color: #000; opacity:.75; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); zoom:1; width:280px; padding:10px; margin-top:5px; margin-bottom:5px; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:1em; text-align:left; display:none; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
div.jGrowl div.jGrowl-notification { min-height:40px; }
div.jGrowl div.jGrowl-notification div.jGrowl-header { font-weight:bold; font-size:.90em; padding-bottom:5px;}
div.jGrowl div.jGrowl-notification div.jGrowl-close { z-index:99; float:right; font-weight:bold; font-size:1em; cursor:pointer; }
div.jGrowl div.jGrowl-closer { padding-top:4px; padding-bottom:4px; cursor:pointer; font-size:.9em; font-weight:bold; text-align:center; }
@media print { div.jGrowl { display:none; } }
div.jGrowl div.smoke {width:280px;height:55px;overflow:hidden;font-size:13px;}
div.jGrowl div.smoke.red { background-color: #FFB2B9; color:#B00023;}
div.jGrowl div.jGrowl-closer,div.jGrowl div.smoke.green { background-color: #C7F6B9; color:#1D7323;}
div.jGrowl div.smoke.blue { background-color: #C7F6FF; color:#1D73BC;}
div.jGrowl div.smoke.green * { color:#1D7323;}
div.jGrowl div.smoke.red * { color:#B00023;}
div.jGrowl div.smoke.blue * { color:#1D73BC;}
/**/
.jqifade{position:absolute;background-color:#aaa;} 
div.jqi{font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;position:absolute;background-color:#fff;font-size:11px;text-align:left;border:solid 1px #eee;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;padding:7px;} 
div.jqi .jqicontainer{font-weight:bold;} 
div.jqi .jqiclose{position:absolute;top:4px;right:-2px;width:18px;cursor:default;color:#bbb;font-weight:bold;} 
div.jqi .jqimessage{padding:10px;line-height:20px;color:#444;} 
div.jqi .jqibuttons{text-align:right;padding:5px 0 5px 0;border:solid 1px #eee;background-color:#f4f4f4;} 
div.jqi button{padding:3px 10px;margin:0 10px;background-color:#2F6073;border:solid 1px #f4f4f4;color:#fff;font-weight:bold;font-size:12px;} 
div.jqi button:hover{background-color:#728A8C;} 
div.jqi button.jqidefaultbutton{background-color:#BF5E26;} 
.jqiwarning .jqi .jqibuttons{background-color:#BF5E26;}
/**/
#envato-widget{background:#f4f4f4 url(/images/favorite/px.gif) repeat-y right top;border:1px solid #bebebe;border-left:none;display:block!important;font:13px/17px Helvetica, Arial, sans-serif;height:100px;left:0;position:fixed;top:185px;width:24px;z-index:890;-webkit-border-top-right-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;-webkit-box-shadow:1px 1px 3px rgba(0,0,0,0.10);-moz-box-shadow:1px 1px 3px rgba(0,0,0,0.10);box-shadow:1px 1px 3px rgba(0,0,0,0.10)}
#envato-widget .widget-button{background-image:url(/images/favorite/button.png);background-repeat:no-repeat;border-bottom:1px solid #fefefe;border-top:1px solid #e4e4e4;cursor:pointer;display:block;float:left;height:31px;text-indent:-9999px;width:23px}
#envato-widget a:hover.widget-button{background-color:#fff}
#envato-widget .widget-button.envato{background-position:-4px 0;border-top:none;height:32px}
#envato-widget .widget-button.view{background-position:-4px -30px}
#envato-widget .widget-button.support{background-position:-4px -60px}
#envato-widget .widget-button.notes{background-position:-4px -90px}
/**/
div.pp_default .pp_top,div.pp_default .pp_top .pp_middle,div.pp_default .pp_top .pp_left,div.pp_default .pp_top .pp_right,div.pp_default .pp_bottom,div.pp_default .pp_bottom .pp_left,div.pp_default .pp_bottom .pp_middle,div.pp_default .pp_bottom .pp_right{height:13px}
div.pp_default .pp_top .pp_left{background:url(/images/favorite/default/sprite.png) -78px -93px no-repeat}
div.pp_default .pp_top .pp_middle{background:url(/images/favorite/default/sprite_x.png) top left repeat-x}
div.pp_default .pp_top .pp_right{background:url(/images/favorite/default/sprite.png) -112px -93px no-repeat}
div.pp_default .pp_content .ppt{color:#f8f8f8}
div.pp_default .pp_content_container .pp_left{background:url(/images/favorite/default/sprite_y.png) -7px 0 repeat-y;padding-left:13px}
div.pp_default .pp_content_container .pp_right{background:url(/images/favorite/default/sprite_y.png) top right repeat-y;padding-right:13px}
div.pp_default .pp_next:hover{background:url(/images/favorite/default/sprite_next.png) center right no-repeat;cursor:pointer}
div.pp_default .pp_previous:hover{background:url(/images/favorite/default/sprite_prev.png) center left no-repeat;cursor:pointer}
div.pp_default .pp_expand{background:url(/images/favorite/default/sprite.png) 0 -29px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_expand:hover{background:url(/images/favorite/default/sprite.png) 0 -56px no-repeat;cursor:pointer}
div.pp_default .pp_contract{background:url(/images/favorite/default/sprite.png) 0 -84px no-repeat;cursor:pointer;width:28px;height:28px}
div.pp_default .pp_contract:hover{background:url(/images/favorite/default/sprite.png) 0 -113px no-repeat;cursor:pointer}
div.pp_default .pp_close{width:30px;height:30px;background:url(/images/favorite/default/sprite.png) 2px 1px no-repeat;cursor:pointer}
div.pp_default .pp_gallery ul li a{background:url(/images/favorite/default/default_thumb.png) center center #f8f8f8;border:1px solid #aaa}
div.pp_default .pp_gallery a.pp_arrow_previous,div.pp_default .pp_gallery a.pp_arrow_next{position:static;left:auto}
div.pp_default .pp_nav .pp_play,div.pp_default .pp_nav .pp_pause{background:url(/images/favorite/default/sprite.png) -51px 1px no-repeat;height:30px;width:30px}
div.pp_default .pp_nav .pp_pause{background-position:-51px -29px}
div.pp_default a.pp_arrow_previous,div.pp_default a.pp_arrow_next{background:url(/images/favorite/default/sprite.png) -31px -3px no-repeat;height:20px;width:20px;margin:4px 0 0}
div.pp_default a.pp_arrow_next{left:52px;background-position:-82px -3px}
div.pp_default .pp_content_container .pp_details{margin-top:5px}
div.pp_default .pp_nav{clear:none;height:30px;width:105px;position:relative}
div.pp_default .pp_nav .currentTextHolder{font-family:Georgia;font-style:italic;font-color:#999;font-size:11px;left:75px;line-height:25px;position:absolute;top:2px;margin:0;padding:0 0 0 10px}
div.pp_default .pp_close:hover,div.pp_default .pp_nav .pp_play:hover,div.pp_default .pp_nav .pp_pause:hover,div.pp_default .pp_arrow_next:hover,div.pp_default .pp_arrow_previous:hover{opacity:0.7}
div.pp_default .pp_description{font-size:11px;font-weight:700;line-height:14px;margin:5px 50px 5px 0}
div.pp_default .pp_bottom .pp_left{background:url(/images/favorite/default/sprite.png) -78px -127px no-repeat}
div.pp_default .pp_bottom .pp_middle{background:url(/images/favorite/default/sprite_x.png) bottom left repeat-x}
div.pp_default .pp_bottom .pp_right{background:url(/images/favorite/default/sprite.png) -112px -127px no-repeat}
div.pp_default .pp_loaderIcon{background:url(/images/favorite/default/loader.gif) center center no-repeat}
div.pp_pic_holder a:focus{outline:none}
div.pp_overlay{background:#F0FFD8;display:none;left:0;position:absolute;top:0;width:100%;z-index:9500}
div.pp_pic_holder{display:none;position:absolute;width:100px;z-index:10000}
.pp_content{height:40px;min-width:40px}
* html .pp_content{width:40px}
.pp_content_container{position:relative;text-align:left;width:100%}
.pp_content_container .pp_left{padding-left:20px}
.pp_content_container .pp_right{padding-right:20px}
.pp_content_container .pp_details{float:left;margin:10px 0 2px}
.pp_description{display:none;margin:0 0 5px}
.pp_nav{clear:right;float:left;margin:3px 10px 0 0}
.pp_nav p{float:left;margin:2px 4px}
.pp_nav .pp_play,.pp_nav .pp_pause{float:left;margin-right:4px;text-indent:-10000px}
a.pp_arrow_previous,a.pp_arrow_next{display:block;float:left;height:15px;margin-top:3px;overflow:hidden;text-indent:-10000px;width:14px}
.pp_hoverContainer{position:absolute;top:0;width:100%;z-index:2000}
.pp_gallery{display:none;left:50%;margin-top:-50px;position:absolute;z-index:10000}
.pp_gallery div{float:left;overflow:hidden}
.pp_gallery ul{float:left;height:35px;position:relative;white-space:nowrap;margin:0 0 0 5px;padding:0}
.pp_gallery ul a{border:1px rgba(0,0,0,0.5) solid;display:block;float:left;height:33px;overflow:hidden}
.pp_gallery ul a img{border:0}
.pp_gallery li{display:block;float:left;margin:0 5px 0 0;padding:0}
.pp_gallery .pp_arrow_previous,.pp_gallery .pp_arrow_next{margin-top:7px!important}
a.pp_expand,a.pp_contract{cursor:pointer;display:none;height:20px;position:absolute;right:30px;text-indent:-10000px;top:10px;width:20px;z-index:20000}
a.pp_close{position:absolute;right:0;top:0;display:block;line-height:22px;text-indent:-10000px}
.pp_loaderIcon{display:block;height:24px;left:50%;position:absolute;top:50%;width:24px;margin:-12px 0 0 -12px}
#pp_full_res{line-height:1!important}
#pp_full_res .pp_inline{text-align:left}
#pp_full_res .pp_inline p{margin:0 0 15px}
div.ppt{color:#fff;display:none;font-size:17px;z-index:9999;margin:0 0 5px 15px}
div.pp_default .pp_content{background-color:#fff}
div.pp_default #pp_full_res .pp_inline{color:#000}
div.pp_default .pp_gallery ul li a:hover,div.pp_default .pp_gallery ul li.selected a,.pp_gallery ul a:hover,.pp_gallery li.selected a{border-color:#fff}
div.pp_default .pp_details{position:relative}
.pp_top,.pp_bottom{height:20px;position:relative}
* html .pp_top,* html .pp_bottom{padding:0 20px}
.pp_top .pp_left,.pp_bottom .pp_left{height:20px;left:0;position:absolute;width:20px}
.pp_top .pp_middle,.pp_bottom .pp_middle{height:20px;left:20px;position:absolute;right:20px}
* html .pp_top .pp_middle,* html .pp_bottom .pp_middle{left:0;position:static}
.pp_top .pp_right,.pp_bottom .pp_right{height:20px;left:auto;position:absolute;right:0;top:0;width:20px}
.pp_fade,.pp_gallery li.default a img{display:none}
/**/
.ajax_preloader{display:none;margin-top:-50px;margin-left:-150px;top:50%;left:50%;position:fixed;z-index:999;width:300px;height:100px;border:4px solid #A1D973;background:#fff url(/images/favorite/ajax_preloader.gif) center center no-repeat;filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);-moz-opacity:.8;-khtml-opacity:.8;opacity:.8;}
.ajax_preloader span{margin-top:80px;text-align:center;display:block;color:#6B6B6B;font-size:11px;font-weight:bold;}
/**/
.favorite_fast a:link,.favorite_fast a:visited{color:#2881D4;}
.favorite_fast a:hover,.favorite_fast a:focus{color:#3C99F0;}
table.favorite_fast{font-size:12px;width:550px;border-top:1px solid #e5eff8;border-right:1px solid #e5eff8;border-collapse:collapse;}
.favorite_fast caption{color:#9ba9b4;font-size:12px;margin:10px 0;padding:0;caption-side:top;text-align:center;}
.favorite_fast tr.odd td{background:#f7fbff;}
.favorite_fast tr.odd .column1{background:#f4f9fe;}
.favorite_fast .column1{background:#f9fcfe;}
.favorite_fast td{color:#678197;border-bottom:1px solid #e5eff8;border-left:1px solid #e5eff8;padding:5px;text-align:center;}
.favorite_fast td.alft{text-align:left;}
.favorite_fast th{font-weight:normal;color:#678197;text-align:left;border:1px solid #e5eff8;border-left:1px solid #e5eff8;padding:5px;}
.favorite_fast thead th{background:#f4f9fe;text-align:center;font-size:14px;color:#66a3d3;}
/**/
.favorite_mod {background: url(/images/favorite/favorite-mods.png) no-repeat center center;padding-left:16px;cursor:pointer;font-size:14px;}
.favorite_mod.add {background-position: 0 -3px;} 
.favorite_mod.del {background-position: 0 -41px;}
.favorite_mod.add:hover {background-position: 0 -22px;} 
.favorite_mod.del:hover {background-position: 0 -60px;}
/**/